* {
  font-family:"American Typewriter", Futura,  sans-serif;
  font-size: 16px;
  color: darkgrey;
  border-bottom: 1px solid rgb(0,0,0);
  text-align: center;
}
*a {


}

p {
  font-family:"American Typewriter", Futura,  sans-serif;
  text-align: center;
  margin: 50px 0 50px 0;
  border-bottom:1px solid #eee;
  clear: none;
  display: inline;
  position: absolute;
  top: 0px;
  left: 0px;
  ::-webkit-scrollbar-thumb:vertical {
background-color:#000;
height:100px;
}
::-webkit-scrollbar-thumb:horizontal {
background-color:#000;
height:10px !important;
}
::-webkit-scrollbar {
height:10px;
width:7px;
background-color:{color: white};

}
