body, a {
  font-family:"American Typewriter", Futura,  sans-serif;
  font-size: 16px;
  color: darkgrey;
  text-align: center;
}

.hintergrund {
  background-image: url(https://68.media.tumblr.com/0851d0d90234206221ca043dcd7cde16/tumblr_orr0hn9zeY1qmn0vjo3_1280.jpg);
  background-size: cover;
  background-position: center center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}

hr {
  border: 0.5px solid darkgrey;
  height: 0px;
  width: 100%;
  max-width: 400px;
  margin: 0px auto;
}

.kasten {
  background-color: white;
  padding: 15px 0px 30px 0px;
  margin: 50px;
  position: relative;
}

#laura {
  width: 50%;
}

a {
text-decoration: none;
}

p {
  font-family:"American Typewriter", Futura,  sans-serif;
  text-align: center;

}
